@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
